<html>
	<head>
		
		
	</head>
	
	<body>
		
				<div id = "p1"> The Oregon Trail</div>
                        <div id = "p2">1.Travel The Trail </div>
        				<div id = "p3"> 2.Learn About the Trail</div>
        				<div id = "p4"> 3.Top 10</div>
        				<div id = "p5"> 4.Toggle Sound</div>
		
		
		
		
	</body>
	<script src = "/js/global.js"></script>
	<script src = "/js/mainmenu.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		<link rel="stylesheet" type="text/css" href="/css/mainmenu.css">
	
</html>