<!DOCTYPE HTML>
<html>
	<head>
		<title>The Oregon Trail</title>
		
		
	</head>
						<div id = "p1"> The Oregon Trail</div>
	<body>
	   <div id="home"></div>
    <div id="journey">
      <div id="stats-area">
        <div class="stat">Day: 1 <span id="stat-day" class="stat-value"></span></div>
        <div class="stat">Distance: 0 <span id="stat-distance" class="stat-value"></span></div>
        <div class="stat">Crew Health: Good<span id="stat-crew" class="stat-value"></span></div>
        <div class="stat">Pace: Steady <span id="stat-pace" class="stat-value"></span></div>
        <div class="stat">Weather: Cool <span id="stat-weather" class="stat-value"></span></div>
        <div class="stat">Money: 300 <span id="stat-money" class="stat-value"></span></div>
      </div>
      <div class="updates-area" id="updates-area"></div>
      <div id="progress-area">
      </div>
    </div>
	<img src = "/img/desert_BG.png" alt = "background">
	<img src = "/img/caravan.png" alt = "caravan" id = "caravan">
	</body>
	<script src = "/js/global.js"></script>
	<script src = "/js/trail.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		<link rel="stylesheet" type="text/css" href="/css/trail.css">
	
</html>