body{
	background-image: url("../img/desert_BG.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#p1{
	text-align: center;
		font-family: cursive;
		font-size: 56px;
		color: White;
}
#fadeText{
	text-align: center;
		font-family: cursive;
		font-size: 56px;
		color: White;
}