img{
    display: block;
    margin: auto;
    width: 100%;
	background-repeat: no-repeat;
}
#p1{
	text-align: center;
		font-family: cursive;
		font-size: 56px;
		color: Black;
}
.hidden {
  display: none;
}
 
 
#journey {
  height: 100%;
  background-color: #5F9FFF;
}
 
#event {
  background-color: magenta;
}
 
#progress-area {
  float: left;
  position: relative;
  width: 400px;
  margin: 10px;
}
 
#caravan {
  position: absolute;
  bottom: 30px;
  left: 0;
}
 
#stats-area {
  background-color: white;
  float: left;
  height: 150px;
  width: 156px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}
.stat-value {
  float: right;
}
 
#updates-area {
  background-color: white;
  float: left;
  width: 350px;
  margin: 10px;
  height: 150px;
  padding: 10px;
  font-size: 12px;
  overflow-y: scroll;
}
 
.update-positive {
  color: #669966;
}
 
.update-negative {
  color: red;
}
 
.update-neutral {
  color: #90908F;
}
 
#caravan{
  width: 110px;
  height: 110px;
  position: absolute;
  right: -1150px;
  bottom: 100px;
 
}
